body {
  font-family: Arial, sans-serif;
  background-color: #c82373;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('pic.jpg') no-repeat center center;
  background-size: contain;
}

.container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #E6E6FA;
  border: 2px solid #7D3C98;
  animation: fadeIn 1s ease-in-out, scaleUp 0.5s ease-in-out 1s, bounce 1s ease-in-out 1.5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleUp {
  from { transform: scale(0.8); }
  to { transform: scale(1); }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-30px); }
  60% { transform: translateY(-15px); }
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333; /* Dark text color */
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  color: #666; /* Medium gray text color */
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease; /* Smooth transition for input borders */
  background-color: #f9f9f9; /* Light gray background for input fields */
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder {
  color: #999; /* Light gray color for placeholders */
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
  border-color: #42a5f5; /* Light blue border color on focus */
}

input[type="tel"]:invalid {
  border-color: red;
}

small {
  color: #888;
}

button {
  background-color: #64b5f6; /* Light blue button color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for button background */
}

button:hover {
  background-color: #42a5f5; /* Slightly darker blue color on hover */
}
